<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Locadora de Veículos</title>
    <script src="https://kit.fontawesome.com/5497a3d25f.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark">
        <div class="col d-flex">
        <div class="navbar-brand">
            Logo Locadora
        </div>
            <div class="col d-flex">
                <div class="col-auto my-auto">
                    <i class="fas fa-car"></i>
                </div>
                <div class="col-auto my-auto">
                    <i class="fas fa-motorcycle"></i>
                </div>
                <div class="col-auto my-auto">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="col-auto my-auto">
                    <i class="fas fa-bicycle"></i>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-between">
            <form class="form-inline" method="post" id="formHeader">
                <input class="form-control mr-sm-2" type="search" placeholder="Veiculo" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
            <span class="navbar-text">
                Navbar text with an inline element
            </span>
        </div>


    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
